.nav-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(2px);
  visibility: hidden;
  opacity: 0;
  z-index: 2;
}

.width-200-toggle {
  width: 200px;
}

.nav-open .nav-overlay {
  visibility: visible;
  opacity: 1;
}

.width-0-toggle {
  width: 0px;
}

.hide-menu {
  width: 0px;
}

.navbar {
  position: fixed;
  width: 100%;
  z-index: 1;
  background-color: rgb(233, 226, 226);
  height: 70px;
  font-size: 1.125rem;
  padding: 40px 20px;
}

.navbar-brand {
  font-size: 1.75rem;
  font-family: 'ZCOOL KuaiLe', cursive;
  text-decoration: none;
  font-weight: 900;
}

.navbar-shadow {
  animation-name: nav-animation;
  animation-duration: 0.1s;
  animation-fill-mode: forwards;
}

@keyframes nav-animation {
  0% {
    box-shadow: 0px 0px 0px rgb(255, 255, 255);
    background-color: rgb(233, 226, 226);
  }

  100% {
    box-shadow: 0.5px 0.5px 3px black;
    background-color: rgb(209, 203, 203);
  }
}

a {
  text-decoration: none;
}

.main>ul>li>a {
  font-family: 'Montserrat', sans-serif;
  font-weight: bolder;
  text-decoration: none;
  color: rgb(66, 64, 64);
}

.main>ul>li>a:hover {
  color: rgb(0, 0, 0)
}

.sidenav-collapse {
  position: fixed;
  z-index: 3;
  background-color: rgb(220, 225, 230);
  transition: 0.5s;
  overflow-x: hidden;
  overflow-y: scroll;
  padding-top: 25px;
  color: rgb(14, 13, 13);
  top: 0;
  bottom: 0;
}

.sidenav-link {
  display: flex;
  align-items: center;
  color: #66666666;
  padding: 12px 7px;
  font-size: 1.35rem;
  font-family: 'Montserrat', sans-serif;
  font-weight: bolder;
  text-decoration: none;
  color: rgb(27, 27, 27);
}

.sidenav-link>span {
  margin-right: 15px;
}

@media screen and (max-width:440px) {
  .navbar {
    background-color: rgb(233, 227, 227);
    height: 70px;
    padding: 10px 20px;
  }

  .logo {
    width: 0px;
    height: 0px;
    display: none;
  }

  .navbar-brand {
    font-size: 1.25rem;
  }
}

@media screen and (min-width:441px) and (max-width: 992px) {
  .navbar {
    background-color: rgb(233, 227, 227);
    height: 70px;
    padding: 10px 20px;
  }

  .navbar-brand {
    font-size: 1.55rem;
  }

  a {
    font-size: 0.85rem;
  }

  .slider-bar {
    position: absolute;
    top: 70px;
  }
}
