<app-navbar [navSwitcher]="1"></app-navbar>
<div id="main-division ">
    <section class="introduction">
        <div class="container-fluid">
            <div class="row description" *ngIf="error404">
                <div class="col-2 col-sm-2 col-xl-4"></div>
                <div class="col-8 col-sm-8 col-xl-4">
                    <img class="error-image" src="/assets/404_animated.gif">
                    <p class="text-muted text-center error-text font-weight-normal">Oops! Page not found</p>
                </div>
                <div class="col-2 col-sm-2 col-xl-4"></div>
            </div>
            <div class="row description" *ngIf="error500">
                <div class="col-2 col-sm-2 col-xl-4"></div>
                <div class="col-8 col-sm-8 col-xl-4">
                    <img class="server-error-image" src="/assets/500_animated.gif">
                    <p class="text-muted text-center error-text font-weight-normal">Internal Server Error!</p>
                </div>
                <div class="col-2 col-sm-2 col-xl-4"></div>
            </div>
        </div>
    </section>
</div>