<section class="main-container">
    <div class="container-fluid password-reset-container">
        <h2 class="password-reset-title text-center mb-4">Create new password</h2>
        <form [formGroup]="passwordResetForm" (ngSubmit)="editUserPassword(passwordResetForm)" class="password-reset">
            <div class="password-reset__group" [ngClass]="{'password-reset__focused':passwordFocused}">
                <label for="password" class="password-reset__label">Password</label>
                <input id="password" class="password-reset__input" (focus)="togglePasswordFocus()"
                    (focusout)="togglePasswordFocus()" type="password" name="password" formControlName="newPassword"
                    [ngClass]="{
                    'has-danger': ((passwordResetForm.get('newPassword')!.invalid && passwordResetForm.get('newPassword')!.dirty)||(passwordResetForm.get('newPassword')!.touched && passwordResetForm.get('newPassword')!.pristine)), 
                    'has-success': passwordResetForm.get('newPassword')!.valid && passwordResetForm.get('newPassword')!.dirty }" />
            </div>
            <div class="error-msg"
                *ngIf="passwordResetForm.get('newPassword')!.hasError('pattern') && !secondaryPasswordFocused">
                <p class="error-msg-p">Enter a valid password</p>
            </div>
            <div class="error-msg"
                *ngIf="passwordResetForm.get('newPassword')!.hasError('required') && passwordResetForm.get('newPassword')!.touched && !secondaryPasswordFocused && !passwordFilled">
                <p class="error-msg-p">Password Required</p>
            </div>
            <button [disabled]="!passwordResetForm.valid" id="password-reset-button" type="submit"
                class="password-reset__btn ripple">Send</button>
        </form>
    </div>
</section>