<app-general-nav></app-general-nav>
<section class="main-container">
    <div class="container-fluid forgot-password-container">
        <h2 class="forgot-password-title text-center mb-4">Reset Password</h2>
        <form [formGroup]="forgotPasswordForm" (ngSubmit)="sendRecoveryMail(forgotPasswordForm)"
            class="forgot-password-form">
            <div class="forgot-password-form__group" [ngClass]="{'forgot-password-form__focused':emailFocused}">
                <label for="email" class="forgot-password-form__label">Email</label>
                <input id="email" class="forgot-password-form__input" (focus)="toggleEmailFocus()"
                    (focusout)="toggleEmailFocus()" type="email" name="email" formControlName="userMail" [ngClass]="{
                      'has-danger': ((forgotPasswordForm.get('userMail')!.invalid && forgotPasswordForm.get('userMail')!.dirty)||(forgotPasswordForm.get('userMail')!.touched && forgotPasswordForm.get('userMail')!.pristine)), 
                      'has-success': forgotPasswordForm.get('userMail')!.valid && forgotPasswordForm.get('userMail')!.dirty
                  }" />
            </div>
            <div class="error-msg"
                *ngIf="forgotPasswordForm.get('userMail')!.hasError('email') && !secondaryMailFocused">
                <p class="error-msg-p">Enter a valid email address</p>
            </div>
            <div class="error-msg"
                *ngIf="forgotPasswordForm.get('userMail')!.hasError('required') && forgotPasswordForm.get('userMail')!.touched && !emailFilled">
                <p class="error-msg-p">Email Required</p>
            </div>
            <button [disabled]="!forgotPasswordForm.valid" id="forgotPassword-button" type="submit"
                class="forgot-password-form__btn ripple">Submit</button>
        </form>
    </div>
</section>