section {
  min-height: 100vh;
  display: flex;
  flex-flow: column nowrap;
}

a {
  text-decoration: none;
}

.main-container {
  --warm-clr1: #dbba00;
  --warm-clr2: #292728;
  font-family: 'Montserrat', sans-serif;
  background: linear-gradient(180deg, var(--warm-clr1), var(--warm-clr2));
}

.forgot-password-container {
  position: relative;
  max-width: 450px;
  height: 275px;
  background-color: #fff;
  padding: 2.5rem 1rem;
  border-radius: 0.55rem;
  margin-top: 8rem;
  box-shadow: 0px 4px 20px 0px rgba(29, 0, 10, 0.2), 0px 2px 8px 0px rgba(29, 0, 10, 0.2);
  overflow: hidden;
}

.forgot-password-container::before,
.forgot-password-container::after {
  --warm-clr1: #dbba00;
  position: absolute;
  content: "";
  display: block;
  width: 8em;
  height: 8em;
  background-color: var(--warm-clr1);
  border-radius: 50%;
  opacity: 0.1;
}

.forgot-password-container::before {
  right: -1em;
  top: -2em;
}

.forgot-password-container::after {
  left: -2em;
  bottom: -2em;
  width: 6em;
  height: 6em;
}

.forgot-password-title {
  font-weight: bold;
  margin-top: -15px;
}

.forgot-password-form__group {
  position: relative;
  margin-top: 20px;
  margin-bottom: 20px;
}

.forgot-password-form__group label {
  position: absolute;
  left: 0;
  top: 50%;
  font-size: clamp(0.65rem, 5vw, 1.15rem);
  font-weight: bolder;
  transition-delay: 2s;
  transform: translateY(-50%);
  transition: 0.3s transform ease-in-out;
}

.forgot-password-form__focused>label {
  transform: translateY(-160%);
}

.error-msg-p {
  margin-top: -15px;
  margin-bottom: 0rem;
  font-size: clamp(0.25rem, 5vw, 0.75rem);
  color: red;
  font-weight: bold;
}

input {
  border-radius: 0px;
  font-weight: bold;
  letter-spacing: 1.5px;
  background-color: white;
  ;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px white inset !important;
  box-shadow: 0 0 0 30px white inset !important;
}

.forgot-password-form__group::before {
  --warm-clr1: #dbba00;
  --warm-clr2: #292728;
  content: "";
  display: block;
  height: 2px;
  width: 100%;
  background-image: linear-gradient(75deg, var(--warm-clr1), var(--warm-clr1), var(--warm-clr2));
  position: absolute;
  left: 0;
  bottom: 0;
  margin: auto;
  background-size: 300%;
  background-position: center;
  transform: scaleX(0);
  transform-origin: center center;
  transition: 0.3s transform ease-in-out, background-position 0.3s ease-in-out;
}

.forgot-password-form__group:focus-within::before {
  transform: scaleX(1);
  background-position: center;
}

.forgot-password-form__input {
  --light-clr: #414141;
  display: block;
  width: 100%;
  padding: 0.3rem 0;
  font-size: clamp(0.5rem, 5vw, 1rem);
  border: none;
  border-bottom: 1px solid var(--light-clr);
  outline: none;
  margin-top: 50px;
}

.forgot-password-form__input-filled.forgot-password-form__group::before {
  background-position: left;
  transform: scaleX(1);
}

.has-danger {
  border-bottom: 2px solid red;
}

.has-success {
  border-bottom: 2px solid rgb(1, 194, 1);
}

.forgot-password-form__btn {
  text-align: center;
  display: block;
  width: 70%;
  margin: 1.5rem auto;
  border: none;
  position: relative;
  color: black;
  background-color: rgb(202, 199, 199);
  font-weight: bolder;
  font-size: clamp(0.5rem, 5vw, 1rem);
  padding: 0.5em 2.75em;
  border-radius: 5px;
  font-weight: bolder;
  box-shadow: 0px 4px 10px 0px rgba(29, 0, 10, 0.2), 0px 2px 3px 0px rgba(29, 0, 10, 0.2);
  overflow: hidden;
}

.forgot-passowrd-form {
  display: flex;
  justify-content: flex-end;
  margin-top: 0.75em;
}

.forgot-password-form__text {
  font-size: clamp(0.45rem, 5vw, 0.85rem);
  font-weight: bold;
  cursor: pointer;
  color: rgb(74, 74, 240);
  text-shadow: 1px black;
}

.forgot-password-form__text:hover {
  color: rgb(0, 0, 211);
}

.ripple {
  background-position: center;
  transition: background 0.8s;
}

.ripple:hover {
  color: black;
  background: rgb(172, 169, 5) radial-gradient(circle, transparent 1%, rgb(172, 169, 5) 1%) center/15000%;
}

.ripple:active {
  background-color: rgb(228, 195, 5);
  ;
  background-size: 100%;
  transition: background 0s;
}

.reset-password a {
  display: flex;
  justify-content: flex-end;
  font-family: 'Montserrat', sans-serif;
  font-size: clamp(0.45rem, 5vw, 0.85rem);
  margin-top: 0.75em;
  font-weight: bold;
}

@media screen and (max-width:450px) {
  .forgot-password-container {
    max-width: 90vmin;
    margin-bottom: 10px;
  }
}

/* * {
    border: 1px solid rgb(153, 0, 255) !important;
} */
