.introduction {
  position: relative;
}

a {
  text-decoration: none;
}

.home-text {
  font-family: 'Montserrat', sans-serif;
  font-weight: bolder;
}

.description {
  margin-top: 50px;
}

.card {
  width: 18rem;
}

.cards {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  align-content: center;
  justify-content: center;
  text-align: center;
}

.main-button {
  /* background: linear-gradient( to top, #16222a, #b4943d, #f7c94b );
      color: white; */
  display: block;
  border: none;
  color: black;
  background-color: rgb(202, 199, 199);
  font-family: 'Montserrat', sans-serif;
  font-weight: bolder;
  font: calc(0.7em+1vw);
  padding: 0.5em 2.75em;
  border-radius: 5px;
  font-weight: bolder;
  box-shadow: 0px 4px 10px 0px rgba(29, 0, 10, 0.2), 0px 2px 3px 0px rgba(29, 0, 10, 0.2);
}

.ripple {
  background-position: center;
  transition: background 0.7s;
}

.ripple:hover {
  color: black;
  background: rgb(211, 207, 4) radial-gradient(circle, transparent 1%, rgb(211, 207, 5) 1%) center/15000%;
}

.ripple:active {
  background-color: rgb(143, 121, 0);
  ;
  background-size: 100%;
  transition: background 0s;
}

.login-text {
  font-family: 'Montserrat', sans-serif;
  font-weight: bolder;
}

.features {
  position: relative;
  margin-top: 100px;
  margin-bottom: 80px;
}

.home-image {
  margin-top: 75px;
  width: 100vmax;
  max-width: 100%;
  height: auto;
}

.footer-content {
  width: 100%;
  height: auto;
  color: white;
  bottom: 0;
  padding: 20px;
}

footer>h5 {
  margin: 0;
}

::-webkit-scrollbar {
  width: 9px;
}

::-webkit-scrollbar-thumb {
  background: rgb(99, 105, 112);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgb(90, 97, 105);
}

@media screen and (max-width:996px) {
  .card {
    width: 17rem;
  }

  .cards {
    display: flex;
    flex-flow: column nowrap;
  }

  .features {
    margin-top: 50px;
    margin-bottom: 100px;
  }
}

@media screen and (min-width: 230px)and (max-width:415px) and (max-height:654px) {
  .card {
    width: 14rem;
  }

  .home-text {
    font-size: 1rem;
  }

  .main-button {
    font-size: 0.75rem;
  }

  .login-text {
    font-size: 0.5rem;
  }

  .home-image {
    margin-top: 10px;
  }
}

@media screen and (min-width: 319px)and (max-width:358px) and (max-height:627px) {
  .home-text {
    margin-top: 3.5px;
    font-size: 1.25rem;
  }

  .main-button {
    font-size: 0.95rem;
  }

  .login-text {
    font-size: 0.75rem;
  }

  .home-image {
    margin-top: 10px;
  }
}

@media screen and (min-width: 50px)and (max-width:358px) and (max-height:960px) {
  .home-text {
    margin-top: 3.5px;
    font-size: 1.25rem;
  }

  .main-button {
    font-size: 0.95rem;
  }

  .login-text {
    font-size: 0.75rem;
  }

  .home-image {
    margin-top: 10px;
  }
}

@media screen and (min-width: 359px) and (max-width:412px) and (min-height:626px) {
  .home-text {
    margin-top: 2.5px;
    font-size: 1.25rem;
  }

  .main-button {
    font-size: 0.95rem;
  }

  .login-text {
    font-size: 0.75rem;
  }

  .home-image {
    margin-top: 10px;
  }
}

@media screen and (min-width: 410px) and (max-width:737px) and (min-height:626px) {
  .home-text {
    margin-top: 2.5rem;
    font-size: 1.50rem;
  }

  .main-button {
    font-size: 0.95rem;
  }

  .login-text {
    font-size: 0.75rem;
  }

  .home-image {
    margin-top: 10px;
  }
}

@media screen and (min-width: 750px)and (max-width:1015px) {
  .home-text {
    font-size: 2.25rem;
  }

  .login-text {
    font-size: 0.75rem;
  }

  .main-button {
    font-size: 1.25rem;
  }

  .home-image {
    margin-top: 20px;
  }

}

@media screen and (min-width: 1020px)and (max-width:1040px) {
  .home-text {
    font-size: 2.75rem;
  }

  .main-button {
    font-size: 1.5rem;
  }

  .login-text {
    font-size: 1.25rem;
  }

  .home-image {
    margin-top: 10px;
  }
}

@media screen and (max-width:1200px) {
  .description {
    margin-top: 100px;
  }
}

/* * {
    border: 1px solid rgb(153, 0, 255) !important;
} */
