.progress {
  position: fixed;
  width: 100%;
  top: 80px;
  z-index: 2;
}

section {
  min-height: 100vh;
  display: flex;
  flex-flow: column nowrap;
}

a {
  text-decoration: none;
}

.main-container {
  --warm-clr1: #dbba00;
  --warm-clr2: #292728;
  font-family: 'Montserrat', sans-serif;
  background: linear-gradient(180deg, var(--warm-clr1), var(--warm-clr2));
}

.signup-container {
  position: relative;
  max-width: 350px;
  height: 510px;
  background-color: #fff;
  padding: 2.5rem 1rem;
  border-radius: 0.55rem;
  margin-top: 8rem;
  box-shadow: 0px 4px 20px 0px rgba(29, 0, 10, 0.2), 0px 2px 8px 0px rgba(29, 0, 10, 0.2);
  overflow: scroll;
  overflow-x: hidden;
}

.signup-title {
  font-weight: bold;
  margin-top: -15px;
}

.signup-form__group {
  position: relative;
  margin-top: 20px;
  margin-bottom: 20px;
}

.signup-form__group label {
  position: absolute;
  left: 0;
  top: 50%;
  font-size: clamp(0.65rem, 5vw, 1.15rem);
  font-weight: bolder;
  transition-delay: 2s;
  transform: translateY(-50%);
  transition: 0.3s transform ease-in-out;
}

.signup-form__focused>label {
  transform: translateY(-180%);
}

.error-msg-p {
  margin-top: -15px;
  margin-bottom: 0rem;
  font-size: clamp(0.25rem, 5vw, 0.75rem);
  color: red;
  font-weight: bold;
}

input {
  border-radius: 0px;
  font-weight: bold;
  letter-spacing: 1.5px;
  background-color: white;
  z-index: 0;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px white inset !important;
  box-shadow: 0 0 0 30px white inset !important;
}

.signup-form__group::before {
  --warm-clr1: #dbba00;
  --warm-clr2: #292728;
  content: "";
  display: block;
  height: 2px;
  width: 100%;
  background-image: linear-gradient(75deg, var(--warm-clr1), var(--warm-clr1), var(--warm-clr2));
  position: absolute;
  left: 0;
  bottom: 0;
  margin: auto;
  background-size: 300%;
  background-position: center;
  transform: scaleX(0);
  transform-origin: center center;
  transition: 0.3s transform ease-in-out, background-position 0.3s ease-in-out;
}

.signup-form__group:focus-within::before {
  transform: scaleX(1);
  background-position: center;
}

.signup-form__input {
  --light-clr: #414141;
  display: block;
  width: 100%;
  padding: 0.3rem 0;
  font-size: clamp(0.5rem, 5vw, 1rem);
  border: none;
  border-bottom: 1px solid var(--light-clr);
  outline: none;
  margin-top: 80px;
}

.signup-form__input-filled.signup-form__group::before {
  background-position: left;
  transform: scaleX(1);
}

.signup-form__btn {
  text-align: center;
  display: block;
  width: 70%;
  margin: 1.5rem auto;
  border: none;
  position: relative;
  color: black;
  background-color: rgb(202, 199, 199);
  font-weight: bolder;
  font-size: clamp(0.5rem, 5vw, 1rem);
  padding: 0.5em 2.75em;
  border-radius: 5px;
  font-weight: bolder;
  box-shadow: 0px 4px 10px 0px rgba(29, 0, 10, 0.2), 0px 2px 3px 0px rgba(29, 0, 10, 0.2);
  overflow: hidden;
}

.reset__btn {
  text-align: center;
  width: 20%;
  border: none;
  color: black;
  background-color: rgb(202, 199, 199);
  border-radius: 5px;
  font-weight: bolder;
  font-size: clamp(0.35rem, 5vw, 0.55rem);
  box-shadow: 0px 4px 10px 0px rgba(29, 0, 10, 0.2), 0px 2px 3px 0px rgba(29, 0, 10, 0.2);
}

.select-dropdown {
  margin-top: 30px;
  border: 1px black;
}

.dropdown-items {
  width: 100%;
  height: 100px;
  border: 1px black;
}

.form-control {
  border: 1px solid black;
}

select {
  width: 100%;
  height: 100px;
}

datalist {
  width: 100%;
}

option {
  text-align: center;
  font-weight: bolder;
  font-size: clamp(0.5rem, 5vw, 1rem);
}

hr {
  margin-top: 10px;
  margin-bottom: 10px;
}

.ripple {
  background-position: center;
  transition: background 0.8s;
}

.ripple:hover {
  color: black;
  background: rgb(172, 169, 5) radial-gradient(circle, transparent 1%, rgb(172, 169, 5) 1%) center/15000%;
}

.ripple:active {
  background-color: rgb(228, 195, 5);
  ;
  background-size: 100%;
  transition: background 0s;
}

.reset-form {
  display: flex;
  justify-content: flex-end;
  margin-top: 0.75em;
}

.reset-form-text {
  font-size: clamp(0.45rem, 5vw, 0.85rem);
  font-weight: bold;
  cursor: pointer;
  color: rgb(74, 74, 240);
  text-shadow: 1px black;
}

.reset-form-text:hover {
  color: rgb(0, 0, 211);
}

.has-danger {
  border-bottom: 2px solid red;
}

.has-success {
  border-bottom: 2px solid rgb(1, 194, 1);
}

.slider-bar {
  position: absolute;
  top: 80px;
  width: 100%;
  height: 10px;
  overflow-x: hidden;
}

.popovers {
  position: relative;
}

.popover-menu {
  border-radius: 4px;
  border-top: 2px solid #c54949;
  background: #fff;
  list-style-type: none;
  margin: 8px 0;
  min-width: 100%;
  padding: 0.5rem 0;
  position: relative;
  top: 2px;
  left: 0rem;
  box-shadow: 0 2px 3px 0 rgb(63 63 68 / 20%);
  transition-property: transform, opacity;
  transition-duration: 200ms;
  transition-timing-function: ease;
  transform-origin: top left;
}

.popover-menu:after {
  bottom: 100%;
  left: 8rem;
  top: -22px;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-color: rgba(255, 255, 255, 0);
  border-bottom-color: #c54949;
  border-width: 10px;
}

.popover-menu-item {
  white-space: nowrap;
}

.popover-menu-item button {
  border: 0;
  border-radius: 0;
  font-weight: bolder;
  font-size: clamp(0.55rem, 3vw, 1rem);
  width: 100%;
  text-align: center;
  margin: 4px;
  background-color: white;
}

.popover-active .popover-menu {
  transform: scale(1);
  display: block;
  opacity: 1;
}

.has-error {
  color: red;
}

.has-no-error {
  color: green;
}

::-webkit-scrollbar {
  width: 5.25px;
}

::-webkit-scrollbar-thumb {
  background: rgb(99, 105, 112);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgb(90, 97, 105);
}

@media screen and (max-width:390px) {
  .signup-container {
    max-width: 90vmin;
    margin-bottom: 10px;
  }
}

@media screen and (max-width:992px) {
  .progress {
    top: 70px;
  }
}

/* Uncomment below to apply borders and see how all the elements are arranged */

/* * {
    border: 1px solid rgb(153, 0, 255) !important;
} */
