section {
  min-height: 100vh;
  display: flex;
  flex-flow: column nowrap;
}

.calendar-group__1 {
  text-align: left;
}

.calendar-group__2 {
  text-align: right;
  user-select: none;
}

.left {
  font-size: clamp(0.5rem, 3vw, 1.25rem);
  cursor: pointer;
  user-select: none;
  border-radius: 50%;
  padding: 1%;
  box-shadow: 0px 1px 7px 0px rgba(29, 0, 10, 0.2), 0px 1px 1px 0px rgba(29, 0, 10, 0.2);
}

.left:hover {
  background-color: rgb(240, 234, 234);
}

.date-info {
  font-size: clamp(0.6rem, 3vw, 1.5rem);
  font-weight: bolder;
  user-select: none;
  color: rgb(44, 44, 219)
}

.right {
  font-size: clamp(0.5rem, 3vw, 1.25rem);
  cursor: pointer;
  user-select: none;
  border-radius: 50%;
  padding: 1%;
  box-shadow: 0px 1px 7px 0px rgba(29, 0, 10, 0.2), 0px 1px 1px 0px rgba(29, 0, 10, 0.2);
}

.right:hover {
  background-color: rgba(240, 234, 234, 0.9);
  border-radius: 50%;
}

.left-disabled {
  pointer-events: none;
  background-color: rgb(212, 212, 212);
}

.right-disabled {
  pointer-events: none;
  background-color: rgb(212, 212, 212);
}

.tooltip .tooltip-inner {
  opacity: 0.85;
}

.tooltip .arrow::before {
  opacity: 0.85;
}

.calendar__btn {
  text-align: center;
  color: black;
  background-color: rgb(202, 199, 199);
  font-weight: 700;
  font-size: clamp(0.55rem, 3vw, 1rem);
  border-radius: 5px;
  font-weight: bolder;
  box-shadow: 0px 4px 10px 0px rgba(29, 0, 10, 0.2), 0px 2px 3px 0px rgba(29, 0, 10, 0.2);
}

.calendar__btn_2 {
  text-align: center;
  color: black;
  background-color: rgb(202, 199, 199);
  font-weight: 700;
  font-size: clamp(0.25rem, 3vw, 0.9rem);
  border-radius: 5px;
  font-weight: bolder;
  box-shadow: 0px 4px 10px 0px rgba(29, 0, 10, 0.2), 0px 2px 3px 0px rgba(29, 0, 10, 0.2);
}

.calendar__btn_3 {
  width: 100%;
  text-align: left;
  color: black;
  font-weight: 700;
  padding: 0.75rem 0.35rem;
  font-size: clamp(0.25rem, 3vw, 0.9rem);
  font-weight: bolder;
  border: #fff;
  background-color: rgb(241, 239, 239);
  cursor: pointer;
  transition: background 0.8s;
}

.calendar__btn_3:hover {
  background: rgb(172, 169, 5) radial-gradient(circle, transparent 1%, rgb(172, 169, 5) 1%) center/15000%;
}

.calendar__btn_4 {
  width: 60%;
  text-align: center;
  color: black;
  background-color: rgb(202, 199, 199);
  font-weight: 700;
  font-size: clamp(0.25rem, 3vw, 0.9rem);
  border-radius: 5px;
  font-weight: bolder;
  box-shadow: 0px 4px 10px 0px rgba(29, 0, 10, 0.2), 0px 2px 3px 0px rgba(29, 0, 10, 0.2);
}

.btn:focus,
.btn:active {
  outline: none !important;
  box-shadow: 0px 4px 10px 0px rgba(29, 0, 10, 0.2), 0px 2px 3px 0px rgba(29, 0, 10, 0.2);
}

.calendar__sub {
  margin-left: auto;
}

.dropdown-menu {
  padding: 0;
  border-radius: 3px;
  outline: none !important;
  background-color: rgb(241, 239, 239);
  box-shadow: 0px 8px 8px 0px rgba(29, 0, 10, 0.2), 0px 1px 2px 0px rgba(29, 0, 10, 0.2), 0 5px 5px -3px rgba(0, 0, 0, 0.2);
}

.calendar-modal-button {
  text-align: center;
  display: block;
  width: auto;
  margin: 3rem auto;
  border: none;
  position: relative;
  color: black;
  background-color: rgb(202, 199, 199);
  font-weight: bolder;
  font-size: clamp(0.1rem, 5vw, 1.2rem);
  padding: 0.5em 2.75em;
  border-radius: 5px;
  font-weight: bolder;
  box-shadow: 0px 4px 10px 0px rgba(29, 0, 10, 0.2), 0px 2px 3px 0px rgba(29, 0, 10, 0.2);
  overflow: hidden;
}

.ripple {
  background-position: center;
  transition: background 0.8s;
}

.ripple:hover {
  color: black;
  background: rgb(172, 169, 5) radial-gradient(circle, transparent 1%, rgb(172, 169, 5) 1%) center/15000%;
}

.ripple:active {
  background-color: rgb(228, 195, 5);
  ;
  background-size: 100%;
  transition: background 0s;
}

.ripple-green {
  background-position: center;
  transition: background 0.8s;
}

.ripple-green:hover {
  color: black;
  background: rgb(19, 172, 5) radial-gradient(circle, transparent 1%, rgb(5, 172, 13) 1%) center/15000%;
}

.ripple-green:active {
  background-color: rgb(5, 228, 35);
  background-size: 100%;
  transition: background 0s;
}

.ripple-red {
  background-position: center;
  transition: background 0.8s;
}

.ripple-red:hover {
  color: black;
  background: rgb(172, 16, 5) radial-gradient(circle, transparent 1%, rgb(172, 44, 5) 1%) center/15000%;
}

.ripple-red:active {
  background-color: rgb(228, 57, 5);
  background-size: 100%;
  transition: background 0s;
}

.main-container {
  --warm-clr1: #dbba00;
  --warm-clr2: #292728;
  font-family: 'Montserrat', sans-serif;
  background: linear-gradient(180deg, var(--warm-clr1), var(--warm-clr2));
}

.calendar-container {
  max-width: 90vmax;
  height: 78vmin;
  background-color: #fff;
  padding: 2.5rem 1rem;
  border-radius: 0.55rem;
  margin-top: 8rem;
  box-shadow: 0px 4px 20px 0px rgba(29, 0, 10, 0.2), 0px 2px 8px 0px rgba(29, 0, 10, 0.2);
  overflow-y: scroll;
}

.sub-container {
  position: relative;
  top: 5px;
  width: 100%;
  height: 118%;
}

.modal-title {
  width: 100%;
  font-family: 'Montserrat', sans-serif;
  font-weight: bolder;
  font-size: clamp(1.5rem, 4vw, 1.75rem);
}

p {
  margin-bottom: 10px;
}

.modal-body {
  font-family: 'Montserrat', sans-serif;
}

.modal-row {
  margin-bottom: -15px;
}

.modal-info {
  width: auto;
  font-weight: bolder;
  font-size: clamp(0.75rem, 4vw, 1.25rem);
}

.modal-subinfo {
  font-weight: bolder;
  font-size: clamp(0.65rem, 4vw, 1.15rem);
  margin-top: 2px;
}

.row {
  margin-left: 0;
  margin-right: 0;
}

.view-buttons {
  font-weight: 700;
}

h3 {
  font-weight: bolder;
}

pre {
  background-color: #f5f5f5;
  padding: 15px;
  font-family: 'Montserrat', sans-serif;
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

::-webkit-scrollbar-thumb {
  background: rgb(99, 105, 112);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgb(90, 97, 105);
}

@media screen and (max-width:520px) {
  .calendar-container {
    max-width: 90vmin;
    height: 75vmax;
    margin-bottom: 10px;
  }

}

@media screen and (max-width:576px) {
  .calendar-container {
    overflow-x: scroll;
  }
}

@media screen and (max-width:785px) {
  .calendar-container {
    max-width: 90vmin;
    height: 75vmax;
    margin-bottom: 10px;
  }
}

@media screen and (max-width:992px) {
  .calendar-group__1 {
    text-align: center;
  }

  .calendar-group__2 {
    margin-top: 10px;
    text-align: center;
  }

  .calendar-modal-button {
    margin: 1rem auto;
  }
}

/* uncomment this to see the arrangement of all elements */

/* * {
    border: 1px solid rgb(153, 0, 255) !important;
} */
